[package]
name = "motoko-rts-tests"
version = "0.1.0"
authors = ["dfinity <sdk@dfinity.org"]
edition = "2018"

[dependencies]
byteorder = "1.4.3"
maplit = "1.0.2"
motoko-rts = { path = "../motoko-rts/native" }
proptest = { version = "1.0.0", default-features = false, features = ["std"] }
quickcheck = "0.9"

# TODO (osa): This dependency added to make sure Cargo.lock includes deps for
# all RTS crates, as rustDeps in default.nix uses motoko-rts-tests Cargo.lock
# to vendor deps. There should be a way to use multiple crates to vendor deps..
motoko-rts-macros = { path = "../motoko-rts-macros" }
