.database
.dvm
_out
_out-dbg
_output
_build
target

**/*~
result*

/samples/**/*.txt

enable-internals

# Editor configuration
*.swp
*.swo
Session.vim
*.iml
.idea
.vscode
.project
.cproject
.favorites.json
.settings/
