[package]
name = "motoko-rts"
version = "0.1.0"
authors = ["Ömer Sinan Ağacan <omeragacan@gmail.com>"]
edition = "2018"

# For rlib use native/Cargo.toml
[lib]
crate-type = ["staticlib"]

[features]
default = ["panic_handler"]

# Enables garbage collector and bump allocator. Without this the GC module is
# disabled (not compiled) and allocation routines use `malloc`.
gc = []

# Defines a panic handler. Required for generating `staticlib` as static
# libraries need to be self-contained.
panic_handler = []

[dependencies]
libc = { version = "0.2.73", default_features = false }
utf8-width = "0.1.4"
libm = "0.2.1"

# Added here so that it ends up in Cargo.lock, so that nix will pre-fetch it
[dependencies.compiler_builtins]
version = "0.1.32"
# Without this feature we get dozens of duplicate symbol errors when generating
# the final shared .wasm file:
#
#     wasm-ld: error: duplicate symbol: __multi3
#     >>> defined in _build/wasm/libmotoko_rts.a(compiler_builtins-d709bd899857aa61.compiler_builtins.3abndchk-cgu.0.rcgu.o)
#     >>> defined in _build/wasm/libmotoko_rts.a(compiler_builtins-06d1ead628e1f468.compiler_builtins.6moz1ltd-cgu.0.rcgu.o)
#
# It seems like we're linking multiple versions of compiler_builtins in the same
# shared library, which we should fix at some point. TODO
features = ["mangled-names"]

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
