[package]
name = "motoko-rts"
version = "0.1.0"
authors = ["dfinity <sdk@dfinity.org>"]
edition = "2018"

[lib]
crate-type = ["rlib"]
path = "../src/lib.rs"

[dependencies]
libc = { version = "0.2.73", default_features = false }
wee_alloc = "0.4.5"

[dependencies.compiler_builtins]
version = "0.1.39"
features = ["mangled-names"]

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
