name: build

on:
  push:
    branches:
    - master

jobs:
  # Build on multiple platforms for continuous integration
  build:
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-15-intel, ubuntu-24.04-arm, macos-latest ]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v6
    - uses: nixbuild/nix-quick-install-action@v34
    - if: ${{ startsWith(matrix.os, 'ubuntu-') }}
      uses: nixbuild/nixbuild-action@v24
      with:
        nixbuild_token: ${{ secrets.NIXBUILD_TOKEN }}
        generate_summary_for: 'workflow'
    - uses: cachix/cachix-action@v16
      with:
        name: ic-hs-test
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - name: nix-build
      shell: bash
      run: |
        cachix watch-exec ic-hs-test -- \
          ${{ github.workspace }}/nixbuild.sh -L \
            .#release.moc \
            .#release.mo-doc \
            .#js.moc \
            .#js.moc_interpreter

        echo "## checks"
        uname -s -m
        moc="$(${{ github.workspace }}/nixbuildcopy.sh .#release.moc)"
        "$moc/bin/moc" --version
        file "$moc/bin/moc"
        ldd "$moc/bin/moc" || true
