name: "build"
on:
  push:
     branches: [ master ]
  pull_request: {}
jobs:
  tests:
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-13, ubuntu-24.04-arm, macos-latest ]
        build_type: [ release, debug ]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
      with:
        # fetch full history so that git merge-base works
        fetch-depth: 0
        # fetch PR commit, not predicted merge commit
        ref: ${{ github.event.pull_request.head.sha }}

    - if: ${{ startsWith(matrix.os, 'ubuntu-') }}
      uses: nixbuild/nix-quick-install-action@v30

    - if: ${{ startsWith(matrix.os, 'ubuntu-') }}
      uses: nixbuild/nixbuild-action@v20
      with:
        nixbuild_token: ${{ secrets.NIXBUILD_TOKEN }}
        generate_summary_for: 'job'
        settings-from-drv-env: true

    - if: ${{ startsWith(matrix.os, 'macos-') }}
      uses: cachix/install-nix-action@v31

    # We are using the `ic-hs-test` Cachix cache for hysterical raisins
    - uses: cachix/cachix-action@v16
      with:
        name: ic-hs-test
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

    # until https://github.com/cachix/cachix-action/issues/86 is fixed:
    # TODO: disable pushing to the cache since it's currently failing. Probably because it's full.
    # - run: cachix watch-store ic-hs-test &

    - if: ${{ startsWith(matrix.os, 'ubuntu-') }}
      name: "nix-build-${{ matrix.build_type }} (${{ matrix.os }})"
      run: ./nixbuild --impure .#${{ matrix.build_type }}-systems-go

    - if: ${{ startsWith(matrix.os, 'macos-') }}
      run: nix-env -iA nix-build-uncached -f ./default.nix

    - if: ${{ startsWith(matrix.os, 'macos-') }}
      name: "nix-build-${{ matrix.build_type }} (${{ matrix.os }})"
      run: nix-build-uncached --max-jobs auto -A ${{ matrix.build_type }}-systems-go -build-flags -L

    - name: Discover `test/bench` changes
      if: github.actor != 'dependabot[bot]' && github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository && runner.os == 'Linux' && runner.arch == 'X64' && github.event_name == 'pull_request' && matrix.build_type == 'release'
      run: |
        git diff --no-index $(nix-build -A tests.bench)/share test/bench/ok | patch -p1 -R
        git switch ${{ github.event.pull_request.head.ref }}
        git branch --show-current

    - name: Commit `test/bench` changes
      if: github.actor != 'dependabot[bot]' && runner.os == 'Linux' && runner.arch == 'X64' && github.event_name == 'pull_request' && matrix.build_type == 'release'
      uses: EndBug/add-and-commit@v9
      with:
        default_author: github_actions
        author_name: Cycle and memory benchmark updater
        github_token: ${{ secrets.NIV_UPDATER_TOKEN }}
        committer_name: GitHub Actions
        committer_email: actions@github.com
        message: "Updating `test/bench` numbers"
        commit: -- test/bench/ok

    - name: Calculate performance delta
      if: github.actor != 'dependabot[bot]' && runner.os == 'Linux' && runner.arch == 'X64' && github.event_name == 'pull_request' && matrix.build_type == 'release'
      run: |
        set -x
        from="$(git merge-base origin/${{ github.base_ref }} HEAD)"
        to="${{ github.event.pull_request.head.sha }}"
        echo "Comparing changes from $from to $to"
        out=$(./nixbuildcopy --impure -f perf-delta.nix \
          --argstr ref HEAD \
          --argstr from "$from" \
          --argstr to "$to")
        ln -s "$out" ./perf-delta.txt

    - name: Read performance delta
      if: github.actor != 'dependabot[bot]' && runner.os == 'Linux' && runner.arch == 'X64' && github.event_name == 'pull_request' && matrix.build_type == 'release'
      id: perf
      uses: juliangruber/read-file-action@v1
      with:
        path: ./perf-delta.txt

    - name: Find performance comment
      if: github.actor != 'dependabot[bot]' && runner.os == 'Linux' && runner.arch == 'X64' && github.event_name == 'pull_request' && matrix.build_type == 'release'
      uses: peter-evans/find-comment@v3
      id: fc
      with:
        issue-number: ${{ github.event.pull_request.number }}
        comment-author: 'github-actions[bot]'
        body-includes: '<!-- perf comment -->'

    # Forks can't add comments so this job does not run on forks, see
    # motoko#2864.
    - name: Create or update performance comment
      if: github.actor != 'dependabot[bot]' && runner.os == 'Linux' && runner.arch == 'X64' && github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository && matrix.build_type == 'release'
      uses: peter-evans/create-or-update-comment@v4
      with:
        comment-id: ${{ steps.fc.outputs.comment-id }}
        issue-number: ${{ github.event.pull_request.number }}
        body: |
          <!-- perf comment -->
          ${{ steps.perf.outputs.content }}
        edit-mode: replace

  reports:
    if: github.ref == 'refs/heads/master'
    needs: tests
    concurrency: ci-${{ github.ref }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: nixbuild/nix-quick-install-action@v30
    - uses: nixbuild/nixbuild-action@v20
      with:
        nixbuild_token: ${{ secrets.NIXBUILD_TOKEN }}
        generate_summary_for: 'job'
    - uses: cachix/cachix-action@v16
      with:
        name: ic-hs-test
    - name: Fetch report
      run: |
        report_site="$(./nixbuildcopy -f default.nix report-site)"
        cp -rL "$report_site" report-site
    - name: Push report to GitHub pages
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        branch: gh-pages
        folder: report-site
        single-commit: true

  artifacts:
    if: github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository && contains(github.event.pull_request.labels.*.name, 'build_artifacts')
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-13, ubuntu-24.04-arm, macos-latest ]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - if: ${{ startsWith(matrix.os, 'ubuntu-') }}
      uses: nixbuild/nix-quick-install-action@v30
    - if: ${{ startsWith(matrix.os, 'ubuntu-') }}
      uses: nixbuild/nixbuild-action@v20
      with:
        nixbuild_token: ${{ secrets.NIXBUILD_TOKEN }}
        generate_summary_for: 'job'
    - if: ${{ startsWith(matrix.os, 'macos-') }}
      uses: cachix/install-nix-action@v31
    - uses: cachix/cachix-action@v16
      with:
        name: ic-hs-test
    - if: ${{ startsWith(matrix.os, 'ubuntu-') }}
      name: "nix-build (${{ matrix.os }})"
      run: |
        moc="$(./nixbuildcopy -f default.nix --arg officialRelease true moc)"
        ln -s "$moc" moc
    - if: ${{ startsWith(matrix.os, 'macos-') }}
      name: "nix-build (${{ matrix.os }})"
      run: |
        nix-build --arg officialRelease true -A moc -o moc
    # upload-artifact doesn't work for symlink dir
    # https://github.com/actions/upload-artifact/issues/92
    - run: echo "UPLOAD_PATH=$(readlink -f moc)" >> $GITHUB_ENV
    - name: upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: moc-${{ matrix.os }}
        path: ${{ env.UPLOAD_PATH }}
        retention-days: 5
