name: "build"
on:
  push:
     branches: [ master ]
  pull_request: {}
jobs:
  tests:
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest ]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - uses: cachix/install-nix-action@v13

    # We are using the ic-hs-test cachix cache that is also used by
    # dfinity/ic-hs. This is partly laziness (on need to set up a separate
    # cache), but also to get the ic-ref-test binary without rebuilding
    - uses: cachix/cachix-action@v10
      with:
        name: ic-hs-test
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

    # until https://github.com/cachix/cachix-action/issues/86 is fixed:
    - run: cachix watch-store ic-hs-test &

    - name: Calculate performance delta
      if: runner.os == 'Linux' && github.event_name == 'pull_request'
      run: |
        ref="${{ github.head_ref }}"
        from="$( git merge-base ${{ github.base_ref}} HEAD)"
        to="${{ github.sha }}"
        echo "Comparing changes from $from to $to on branch $ref"
        nix-build --max-jobs 4 perf-delta -o perf-delta \
          --arg-str ref "${{ github.head_ref }}" \
          --arg-str from "$from"
          --arg-str to "${{ github.sha }}"

    - name: Find performance comment
      if: runner.os == 'Linux' && github.event_name == 'pull_request'
      uses: peter-evans/find-comment@v1
      id: fc
      with:
        issue-number: ${{ github.event.pull_request.number }}
        comment-author: 'github-actions[bot]'
        body-includes: '<!-- perf comment -->'

    - name: Create or update performance comment
      if: runner.os == 'Linux' && github.event_name == 'pull_request'
      uses: peter-evans/create-or-update-comment@v1
      with:
        comment-id: ${{ steps.fc.outputs.comment-id }}
        issue-number: ${{ github.event.pull_request.number }}
        body: |
          <!-- perf comment -->
          This is a test performance comment
        edit-mode: replace

    - name: "nix-build"
      run: nix-build --max-jobs 4 -A all-systems-go
