name: "build"
on: push
jobs:
  tests:
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest ]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - uses: cachix/install-nix-action@v12
    - name: "nix-build"
      run: nix-build --arg internal false --max-jobs 1 -A all-systems-go
