name: Update nix hashes

on:
  push:
    branches-ignore:
      - master
    tags-ignore:
      - '**'

jobs:
  update-hash:
    if: github.actor != 'dependabot[bot]'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: cachix/install-nix-action@v31
    - uses: cachix/cachix-action@v16
      with:
        name: ic-hs-test
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - name: Update pocket-ic-server cargo hash
      run: |
        nix run .#nix-update -- --flake --version=skip pocket-ic-server
    - name: Create GitHub App Token
      uses: actions/create-github-app-token@v2
      id: app-token
      with:
        app-id: ${{ vars.PR_AUTOMATION_BOT_PUBLIC_APP_ID }}
        private-key: ${{ secrets.PR_AUTOMATION_BOT_PUBLIC_PRIVATE_KEY }}
    - name: Commit changes
      uses: EndBug/add-and-commit@v9
      with:
        default_author: github_actions
        author_name: Nix hash updater
        github_token: ${{ steps.app-token.outputs.token }}
        committer_name: GitHub Actions
        committer_email: actions@github.com
        message: "Updating nix hashes"
